1일차
[{"id":"e2d5b634.0cade8","type":"tab","label":"플로우 3","disabled":false,"info":""},{"id":"ec5114b2.b0d3b8","type":"ui_slider","z":"e2d5b634.0cade8","name":"","label":"번호","tooltip":"","group":"f436eb06.f24468","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":110,"y":520,"wires":[["9afc93fc.f2562"]]},{"id":"88eb1c6d.0876c","type":"ui_audio","z":"e2d5b634.0cade8","name":"","group":"f436eb06.f24468","voice":"","always":"","x":420,"y":500,"wires":[]},{"id":"9afc93fc.f2562","type":"function","z":"e2d5b634.0cade8","name":"number","func":"msg.payload = msg.payload + \"번을 선택했습니다.\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":460,"wires":[["b85c9252.6ef9e","88eb1c6d.0876c"]]},{"id":"b85c9252.6ef9e","type":"debug","z":"e2d5b634.0cade8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":440,"wires":[]},{"id":"435779c5.deb978","type":"ui_slider","z":"e2d5b634.0cade8","name":"","label":"slider","tooltip":"","group":"f436eb06.f24468","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"5","step":1,"x":110,"y":740,"wires":[["39048900.3be678"]]},{"id":"39048900.3be678","type":"function","z":"e2d5b634.0cade8","name":"","func":"if(msg.payload ==0)\n    msg.payload = \"영입니다.\";\nelse if(msg.payload == 1)  \n    msg.payload = \"일입니다.\";\nelse if(msg.payload == 2)\n    msg.paylaod = \"이입니다.\";\nelse msg.payload = \"삼,사,오 중에 하나입니다.\";\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":740,"wires":[["7799512e.7aac6","a032f2e3.3b5be","4152f1b1.883b4"]]},{"id":"a032f2e3.3b5be","type":"debug","z":"e2d5b634.0cade8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":640,"wires":[]},{"id":"4152f1b1.883b4","type":"ui_audio","z":"e2d5b634.0cade8","name":"","group":"f436eb06.f24468","voice":"","always":"","x":510,"y":760,"wires":[]},{"id":"7799512e.7aac6","type":"ui_text","z":"e2d5b634.0cade8","group":"f436eb06.f24468","order":3,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":680,"wires":[]},{"id":"62fd08f3.a029b8","type":"ui_button","z":"e2d5b634.0cade8","name":"","group":"1f37de5b.3750b2","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":880,"wires":[["21b604ff.fee95c"]]},{"id":"21b604ff.fee95c","type":"function","z":"e2d5b634.0cade8","name":"","func":"var random3 = Math.floor(Math.random()*50);\nmsg.payload = random3 + \"번 앙 기모띠 ㅎ.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":880,"wires":[["8f205999.47c818","29d11bc5.df1bf4"]]},{"id":"8f205999.47c818","type":"ui_audio","z":"e2d5b634.0cade8","name":"","group":"1f37de5b.3750b2","voice":"","always":"","x":510,"y":940,"wires":[]},{"id":"29d11bc5.df1bf4","type":"ui_text","z":"e2d5b634.0cade8","group":"1f37de5b.3750b2","order":3,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":880,"wires":[]},{"id":"f436eb06.f24468","type":"ui_group","name":"번호","tab":"9e867eb7.15ff6","order":1,"disp":true,"width":"6","collapse":false},{"id":"1f37de5b.3750b2","type":"ui_group","name":"Default","tab":"e38c4a95.2a5bd8","order":1,"disp":true,"width":"6","collapse":false},{"id":"9e867eb7.15ff6","type":"ui_tab","name":"Tab 7","icon":"dashboard","disabled":false,"hidden":false},{"id":"e38c4a95.2a5bd8","type":"ui_tab","name":"tab 8","icon":"dashboard","disabled":false,"hidden":false}]
