flows (1).json
[{"id":"c478eab1.8909c8","type":"tab","label":"2일차 - Weather","disabled":false,"info":""},{"id":"6abc87d9.bfb6f8","type":"inject","z":"c478eab1.8909c8","name":"날씨","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":320,"wires":[["7e3e89b6.7ef418"]]},{"id":"7e3e89b6.7ef418","type":"http request","z":"c478eab1.8909c8","name":"JSON","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://apis.data.go.kr/1360000/VilageFcstInfoService/getUltraSrtNcst?serviceKey=ES8hGZI0MeuIMb1iLMSna%2BMwhyMT2kxYY%2F11odCCcANaAL1d%2BIeqnhCpGgnd2OU8zUgigKFiB5MLPM5TCVjIfQ%3D%3D&pageNo=1&numOfRows=10&dataType=JSON&base_date=20201229&base_time=1100&nx=59&ny=119","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":320,"wires":[["978db906.87eca8","98bdc4e2.844388"]]},{"id":"978db906.87eca8","type":"debug","z":"c478eab1.8909c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":320,"wires":[]},{"id":"98bdc4e2.844388","type":"debug","z":"c478eab1.8909c8","name":"오전 11시 날씨","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.response.body.items.item[3].obsrValue","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":400,"wires":[]},{"id":"b20df72c.586be8","type":"inject","z":"c478eab1.8909c8","name":"날씨","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":480,"wires":[["8acd3853.51c8e8","5a383ccb.f5b0b4"]]},{"id":"d897898a.b6ea58","type":"function","z":"c478eab1.8909c8","name":"","func":"var payload = msg.payload.response.body.items.item[3].obsrValue;\nreturn{\n    payload:payload\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":480,"wires":[["5af0e1ab.b9f59","fe02bc74.52fa7"]]},{"id":"8acd3853.51c8e8","type":"http request","z":"c478eab1.8909c8","name":"JSON","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://apis.data.go.kr/1360000/VilageFcstInfoService/getUltraSrtNcst?serviceKey=ES8hGZI0MeuIMb1iLMSna%2BMwhyMT2kxYY%2F11odCCcANaAL1d%2BIeqnhCpGgnd2OU8zUgigKFiB5MLPM5TCVjIfQ%3D%3D&pageNo=1&numOfRows=10&dataType=JSON&base_date=20201229&base_time=1100&nx=59&ny=119","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":480,"wires":[["d897898a.b6ea58","4971cb3e.8dfb64"]]},{"id":"5af0e1ab.b9f59","type":"debug","z":"c478eab1.8909c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":480,"wires":[]},{"id":"fe02bc74.52fa7","type":"ui_gauge","z":"c478eab1.8909c8","name":"","group":"f834906b.3fc13","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"℃","format":"{{value}}","min":"-20","max":"40","colors":["#0011ff","#f5c000","#ca3838"],"seg1":"0","seg2":"24","x":690,"y":540,"wires":[]},{"id":"4971cb3e.8dfb64","type":"function","z":"c478eab1.8909c8","name":"","func":"var payload = msg.payload.response.body.items.item[1].obsrValue;\nreturn{\n    payload:payload\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":640,"wires":[["5e0940d7.a85c7","b3084f24.42729"]]},{"id":"5e0940d7.a85c7","type":"debug","z":"c478eab1.8909c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":640,"wires":[]},{"id":"b3084f24.42729","type":"ui_gauge","z":"c478eab1.8909c8","name":"","group":"f834906b.3fc13","order":3,"width":0,"height":0,"gtype":"donut","title":"습도","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#0011ff","#f5c000","#01aef9"],"seg1":"0","seg2":"24","x":670,"y":700,"wires":[]},{"id":"5a383ccb.f5b0b4","type":"http request","z":"c478eab1.8909c8","name":"JSON","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://apis.data.go.kr/1360000/VilageFcstInfoService/getVilageFcst?serviceKey=ES8hGZI0MeuIMb1iLMSna%2BMwhyMT2kxYY%2F11odCCcANaAL1d%2BIeqnhCpGgnd2OU8zUgigKFiB5MLPM5TCVjIfQ%3D%3D&pageNo=1&numOfRows=10&dataType=JSON&base_date=20201229&base_time=0500&nx=1&ny=1","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":760,"wires":[["a69322ec.83b87"]]},{"id":"8863c597.34c328","type":"debug","z":"c478eab1.8909c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":760,"wires":[]},{"id":"a69322ec.83b87","type":"function","z":"c478eab1.8909c8","name":"","func":"var payload = msg.payload.response.body.items.item[0].fcstValue;\nreturn{ payload:payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":760,"wires":[["8863c597.34c328","c61113b2.c8fc1"]]},{"id":"c61113b2.c8fc1","type":"ui_gauge","z":"c478eab1.8909c8","name":"","group":"f834906b.3fc13","order":1,"width":0,"height":0,"gtype":"wave","title":"강수확률","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":840,"wires":[]},{"id":"d20eadb6.046e3","type":"inject","z":"c478eab1.8909c8","name":"미세먼지","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":940,"wires":[["4731b9ad.92e6c8"]]},{"id":"4731b9ad.92e6c8","type":"http request","z":"c478eab1.8909c8","name":"XML","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://openapi.airkorea.or.kr/openapi/services/rest/UlfptcaAlarmInqireSvc/getUlfptcaAlarmInfo?serviceKey=ES8hGZI0MeuIMb1iLMSna%2BMwhyMT2kxYY%2F11odCCcANaAL1d%2BIeqnhCpGgnd2OU8zUgigKFiB5MLPM5TCVjIfQ%3D%3D&pageNo=1&numOfRows=10&year=2020&itemCode=PM10","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":960,"wires":[["9fb85f3b.e9e21"]]},{"id":"a8fe2030.e3a8f","type":"debug","z":"c478eab1.8909c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":960,"wires":[]},{"id":"9fb85f3b.e9e21","type":"xml","z":"c478eab1.8909c8","name":"","property":"payload","attr":"","chr":"","x":390,"y":960,"wires":[["a8fe2030.e3a8f","58a791c8.c4cf1","adadfecf.e4511"]]},{"id":"58a791c8.c4cf1","type":"debug","z":"c478eab1.8909c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.response.body[0].items[0].item[0].clearVal[0]","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":1020,"wires":[]},{"id":"adadfecf.e4511","type":"function","z":"c478eab1.8909c8","name":"발생일시","func":"var payload = \n[ \n    \"msg.payload.response.body[0].items[0].item[0].dataDate[0]\", /*발생일*/\n    \"msg.payload.response.body[0].items[0].item[0].issueTime[0]\", /*발생시간*/\n    \"msg.payload.response.body[0].items[0].item[0].itemCode[0]\", /*주의보구분(pm 10 or2.5)*/\n    \"msg.payload.response.body[0].items[0].item[0].moveName[0]\", /*발생지역*/\n    \"msg.payload.response.body[0].items[0].item[0].clearDate[0]\", /*해제일*/\n    \"msg.payload.response.body[0].items[0].item[0].clearTime[0]\" /*해제시간*/\n];\n\n\nreturn {\n    \n   for (var i=0; i<6; i++)\n   {\n            payload[i];    \n   }\n    \n}","outputs":1,"noerr":3,"initialize":"","finalize":"","x":530,"y":1120,"wires":[["8224b582.f97818","64de812e.8fad6"]]},{"id":"8224b582.f97818","type":"debug","z":"c478eab1.8909c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":1120,"wires":[]},{"id":"64de812e.8fad6","type":"ui_text","z":"c478eab1.8909c8","group":"b716c8e9.c26888","order":3,"width":0,"height":0,"name":"발생일시","label":"미세먼지 주의보","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":1180,"wires":[]},{"id":"a05a2f54.708ef","type":"ui_switch","z":"c478eab1.8909c8","name":"","label":"switch","tooltip":"","group":"4bd55957.521968","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":1480,"wires":[["d199e7e7.a8dd68"]]},{"id":"d199e7e7.a8dd68","type":"function","z":"c478eab1.8909c8","name":"","func":"if(msg.payload ==0)\n    msg.payload = \"Tab 1 show.\";\nelse if(msg.payload == 1)  \n{\n    \"tabs\":{\n        \"hide\":[\"tab_name_with_underscores\"],\n        \"show\":[\"another_tab_name\"],\n        \"disable\":[\"unused_tab_name\"]\n    }\n    msg.payload = \"Tab 2 hide\";\n}\nreturn msg;","outputs":1,"noerr":8,"initialize":"","finalize":"","x":350,"y":1480,"wires":[["a274f04f.9853b"]]},{"id":"a274f04f.9853b","type":"ui_ui_control","z":"c478eab1.8909c8","name":"","events":"all","x":520,"y":1480,"wires":[[]]},{"id":"f834906b.3fc13","type":"ui_group","name":"온도","tab":"1a9346f5.67e189","order":1,"disp":true,"width":"6","collapse":false},{"id":"b716c8e9.c26888","type":"ui_group","name":"미세먼지","tab":"1a9346f5.67e189","order":2,"disp":true,"width":"6","collapse":false},{"id":"4bd55957.521968","type":"ui_group","name":"switch","tab":"42f54fba.feb5","order":1,"disp":true,"width":"6","collapse":false},{"id":"1a9346f5.67e189","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"42f54fba.feb5","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2}]